
/* NAV MENU */

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
}

.navBar .categorias {
    padding: 1rem;
    font-size: 1rem;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
    color: #fff;
}

.shop-item {
    cursor: pointer;
}

.shop-icon {
    cursor: pointer;
    font-size: 1.7rem;
    color: #fff;
}

/*  */